#myCanvas {
	border: 1px solid black;
}

#canvases {
	position: relative;
}

#tmpCanvas {
	position: absolute;
	border: 1px solid black;
	left: 0px; right: 0;
	bottom: 0; top: 0;
	cursor: crosshair;
}