/* Global */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* Microsoft all */
}

.boxShadow {
    box-shadow: 1px 0px 3px 0px black;
}

body {
	margin: auto;

}

#content {
	margin: 0 auto;
	padding-left: 45px;
	padding-right: 45px;
	border-left: 1px;
	border-right: 1px;
}

/* Header */

#header {
	margin-bottom: 5px;
	height: 70px;
	width: 100%;
	padding-top: 20px;
	padding-left: 5px;
	background-color: black;
	opacity: 0.8;
}

#titleHeader {
	margin: auto;
	color: lightgray;
}

/* Canvas */

#myCanvas {
	position:absolute;
	left: 20px;
	top: 20px;
    overflow: hidden;
}

#canvases {
	position: relative;
    width: 1000px;
	clear: both;
}

#tmpCanvas {
	position: absolute;
	left: 20px; right: 0px;
	bottom: 0px; top: 20px;
	cursor: crosshair;
}


/* Textarea */

#textinput {
	overflow: hidden;
	border: solid black 1px;
	background: transperant;
	position: absolute;
	display: none;
	line-height: 20px;
	font-size: 20px;
}

/* line width mechanism and color pallet */

#rad {
    margin: 5px;
	margin-top: 10px;
	margin-left: 25px;
    display: inline;
    float: left;
}

.radButton {
    border: solid black 1px;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;

}

.colors {
	height: 30px;
	width: 30px;
	border-radius: 15px;
    display: inline-block;
}

#swatches {
    float: left;
	margin-left: 15px;
    max-height: 40px;
    display: inline;
}

.selected {

}

/* Radio buttons */
#selectshapes label {
	float:left;
    width: auto;
    margin:2px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:2px solid #aaa;
    overflow:auto;
}

#selectshapes label span {
    text-align:center;
    font-size: 14px;
    display: inline;
}

#selectshapes input:checked + span {
	border-style: solid;
	border-color: #333;
	border-width: 3px;
	border-radius: 1px;
    background-color: #444;
    color:#FFF;
}

#selectshapes label input {
    position:absolute;
    top:-20px; /*get rid of radio check circles  /*
}

/* Tools */

.toolbox:checked + label {
    text-shadow: 1px 1px 1px 1px skyblue;
}

#selectshapes {
	float: left;
	padding: 1px;
	margin-top: 10px;
	margin-left: 5px;
    overflow: hidden;
}

#actionbuttons {
	float:left;
	margin-top: 10px;
	margin-left: 19px;
    overflow: hidden;

}

#dropdownlists {
    float: left;
    margin-top: 10px;
    margin-left: 155px;
    margin-top: 5px;
}

#fontsize {
    margin-right: 15px;
}

/* glyphs */

#square {
    width: 28px;
    height: 28px;
    border solid black 2px;
    background-color: transperant;
}
